body {
  background-color: AntiqueWhite;
}

.serif {
  font-family: Palatino, "Times New Roman", serif;
}

.sansserif {
  font-family: Geneva, Veranda, sans-serif;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}
